# Database URL (Example: MongoDB Local or Atlas Connection String)
MONGODB_URL=mongodb://localhost:27017/your_db_name

# Port for Backend Server to run on
PORT=5000

# URL of the Frontend Application for CORS configuration
URL_FRONTEND=http://localhost:3000