:root {
  
  --color-primary: #0087f1; 
  --color-primary-dark: #0072f7; 
  --color-primary-light: #e7f3ff; 

  --color-text-primary: #1f2936; 
  --color-text-secondary: #555555; 
  --color-text-placeholder: #798eae; 

  --color-bg-primary: #f9fafb; 
  --color-bg-secondary: #f0f2f5; 
  --color-bg-sidebar: #ffffff; 

  --color-border: #e2e8f0; 
  --color-hover-bg: #f3f4f6; 
  --color-success: #00a77a; 
  --color-error: #ef4444; 

  --color-shadow: rgba(0, 0, 0, 0.05);
  --border-radius-lg: 12px; 
  --border-radius-md: 8px; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
